* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
 
html, body {
  margin:0;
  height:100vh;
  overflow-x: hidden;
  overscroll-behavior: none;
  background: linear-gradient(180deg, white 65%, #8FD8D8);
}

/* form and header styling*/
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

#appContainer{
  margin: 10%;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

.banner form {
  position: relative;
  display: flex;
  align-items: center;
}

.banner form input {
  font-size: 2rem;
  background: linear-gradient( rgba(255, 255, 255, 0) 60%,rgba(212, 212, 212, 0.6)), no-repeat fixed;
  background-size: cover;
  box-shadow:inset 0 0 20px  white;
}

.banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}

 /* weather cards*/

 .card-section {
  margin: 50px 0 20px;
}
 
.card-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) { 
  .card-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (max-width: 700px) {
  .card-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
@media screen and (max-width: 500px) {  
  .card-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}
 
.card-section .city::after {
  content: ’’;
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}
 
.card-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
 
.card-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}
 
.card-section .city sup {
  font-size: 0.5em;
}
 
.card-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}
 
.card-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}